@import "../../App";

.hero__section {
  position: relative;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  line-height: 1;

  @media screen and (max-width: 905px) {
    margin-top: -25px;
  }

  .hero-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    max-height: 500px;
    border-radius: 35px;
    height: auto;
  }

  .hero {
    position: absolute;
    width: 100%;
    color: $white;
    padding: 70px 30px;
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    display: flex;
    justify-content: space-around;

    @media screen and (max-width: 763px) {
      text-align: center;
    }

    @media screen and (max-width: 640px) {
      padding: 50px 30px;
    }

    &__main {
      display: flex;
      flex-direction: column;
      gap: 50px;

      &-greet {
        .greet-title {
          font-size: clamp(25px, 5vw, 50px);
        }

        .greet-subtitle {
          font-size: clamp(12px, 2vw, 18px);
          margin-top: 15px;
        }
      }

      &-link {
        .main-text {
          font-size: clamp(15px, 3vw, 30px);
          margin-bottom: 20px;
        }

        .main-btn {
          font-size: clamp(12px, 2vw, 18px);
          font-weight: 900;
          background-color: $primary;
          color: $white;
          padding: 10px 20px;
          border-radius: 30px;
          transition: .2s all ease-in;
          &:hover {
            background-color: #1768bb50;
          }
        }
      }
    }

    &__text {
      font-size: clamp(35px, 6vw, 72px);

      @media screen and (max-width: 763px) {
        display: none;
      }
    }
  }

  .scroll-down {
    color: aliceblue;
    width: 22rem;
    text-align: center;
    margin: auto auto 15px auto;
    cursor: pointer;

    h4 {
      font-size: 34px;
      font-weight: 700;
      line-height: 1.2;
    }

    img {
      width: 45px;
      height: 45px;
      animation: arrow-jump 2s infinite;
    }
  }
}

@keyframes arrow-jump {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 10px;
  }
  100% {
    margin-top: 0;
  }
}


