@import "../../App";

.about-wrapper {
  background: #e5e5e5;
  margin-top: 50px;

  .about {
    position: relative;
    padding: 50px 0;

    &__title {
      display: flex;
      flex-direction: column;
      font-weight: 700;
      align-items: center;
      margin: 0 auto;
      gap: 20px;
      max-width: 700px;
      line-height: 1;
      font-size: 44px;

      span {
        color: $primary;
      }

      &-line {
        width: 50%;
        height: 5px;
        background: $primary;
      }
    }

    &__block {
      display: flex;
      margin-top: 40px;
      flex-direction: column;
      gap: 50px;
      position: relative;
      z-index: 1;

      :not(:first-child):nth-child(odd) {
        margin-left: auto;
      }

      &-item {
        width: 45%;
        display: flex;
        align-items: center;
        gap: 20px;
        background: linear-gradient(45deg, #fff, #1768bb);
        padding: 20px;
        border-radius: 20px;
        img {
          height: 50px;
          width: 50px;
        }
        p {
          font-size: 18px;
        }
      }

      &-wave {
        position: absolute;
        left: 48%;
        height: 118%;
        top: -43px;
        /*
        border-left: 6px solid $primary;
        height: 110%;
        position: absolute;
        left: 50%;
        margin-top: -40px;*/
      }
    }

    }
}

