@import "../App";

.nir, .info, .practice {
  margin: 30px 0;
  font-size: 20px;
  text-align: justify;
  letter-spacing: .8px;

  .text-img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
  }
}

.nir, .practice {
  &__first, &__third {
    margin-top: 25px;

    &-item {
      display: flex;
      gap: 20px;
      margin-top: 20px;
    }
  }

  &__second {
    margin-top: 25px;

    &-item {
      display: flex;
      gap: 20px;
      margin-top: 20px;
    }
  }

  &__links {
    margin: 20px 0 0 65px;

    &-item {
      display: flex;
      align-items: center;
      gap: 15px;

      &:not(:last-child) {
        margin-bottom: 5px;
      }

      a {
        color: $primary;
      }
    }
  }
}

.nir {
  &__second {
    ol {
      margin: 15px 70px;
    }
  }
}

.practice {
  .item-paragraph {
    margin-left: 30px;
  }
}

.info {
  &__history {
    margin-top: 25px;

    &-item {
      display: flex;
      gap: 20px;
      margin-top: 20px;
    }
  }

  &__about {
    margin-top: 25px;

    &-item {
      display: flex;
      gap: 20px;
      margin: 20px 0;
    }
  }
}

.collaboration {
  margin-top: 30px;
}
