@import "../App";

.nir, .info {
  margin: 50px 0;
  font-size: 20px;
  text-align: justify;
  letter-spacing: .8px;

  .text-img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
  }
}

.nir {

  &__info {
    margin-top: 25px;

    &-item {
      display: flex;
      gap: 20px;
      margin-top: 20px;
    }
  }

  &__rules {
    margin-top: 25px;

    ol {
      margin: 15px 70px;
    }

    &-item {
      display: flex;
      gap: 20px;
      margin-top: 20px;
    }

    &-links {
      margin: 20px 0 0 65px;

      .link-item {
        display: flex;
        align-items: center;
        gap: 15px;

        &:not(:last-child) {
          margin-bottom: 5px;
        }

        a {
          color: $primary;
        }
      }
    }
  }
}

.info {
  &__history {
    margin-top: 25px;

    &-item {
      display: flex;
      gap: 20px;
      margin-top: 20px;
    }
  }

  &__about {
    margin-top: 25px;

    &-item {
      display: flex;
      gap: 20px;
      margin: 20px 0;
    }
  }
}