@import "../../App";

header {
  overflow: hidden;

  .header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    gap: 40px;

    &__inner {
      display: flex;
      align-items: center;
      gap: 20px;

      @media screen and (max-width: 612px) {
        justify-content: space-between;
      }

      &-logo {
        img {
          width: 150px;
          height: 130px;
        }
      }

      &-info {
        display: flex;
        gap: 30px;
        align-items: center;
        @media screen and (max-width: 982px) {
          justify-content: space-evenly;
        }


        .info__text {
          flex: 0 1 20%;
          text-align: center;
          font-style: normal;
          font-weight: 400;
          font-size: 10px;
          line-height: 17px;
          letter-spacing: .03em;
          text-transform: uppercase;

          @media screen and (max-width: 1110px) {
            flex: 0 1 40%;
          }
          @media screen and (max-width: 930px) {
            font-size: 13px;
          }
          @media screen and (max-width: 763px) {
            flex: 0 1 55%;
          }
          @media screen and (max-width: 730px) {
            font-size: 12px;
          }
          @media screen and (max-width: 680px) {
            font-size: 10px;
          }
          @media screen and (max-width: 612px) {
            display: none;
          }

        }

        .info__list {
          display: flex;
          padding: 13px 40px;
          align-items: center;
          background-color: #e5e5e5;
          border-radius: 20px;

          @media screen and (max-width: 612px) {
            gap: 14px;
            cursor: pointer;
          }

          @media screen and (max-width: 535px) {
            padding: 13px;
          }


          &-item {
            width: 100%;
            display: flex;
            gap: 20px;
            align-items: center;

            @media screen and (max-width: 1110px) {
              &:nth-child(2) {
                display: none;
              }
            }

            @media screen and (max-width: 905px) {
              &:nth-child(2), &:nth-child(3) {
                display: none;
              }
            }

            @media screen and (max-width: 612px) {
              &:nth-child(2), &:nth-child(3) {
                display: block;
              }
            }

            img {
              height: 45px;
              width: 45px;
            }

            .item-img {
              height: 60%;
            }

            .item__info {
              @media screen and (max-width: 905px) {
                display: block;
              }

              @media screen and (max-width: 763px) {
                display: none;
              }

              &-text {
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 21px;
              }

              &-strong {
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 21px;
                @media screen and (max-width: 1050px) {
                  font-size: 14px;
                }
              }

              &-link {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                color: #3758CB;
                border-bottom: dotted;
              }
            }
          }
        }
      }

      &-burger {
        display: none;

          @media screen and (max-width: 905px) {
          display: block;
          img {
            height: 45px;
            width: 45px;
          }
        }
      }
    }
  }
}

/*
@media screen and (max-width: 995px) {
  nav {
    .navbar {
      &__logo {
        img {
          width: 125px;
          height: 85px;
        }
      }

      &__header {
        flex-direction: row;

        .menu {
          display: none;
          position: fixed;
          background: #e5e5e5;
          left: 0;
          top: 0;
          height: 100vh;
          width: 100vw;

          &.active {
            display: flex;
            left: 0;
            top: 0;
            margin: 0;
            height: 100vh;
            width: 100vw;
            flex-direction: column;
            pointer-events: all;
            justify-content: center;
            align-items: center;
            z-index: 22;
            animation: fade .1s linear;
          }
        }

        .burger {
          display: block;
          position: relative;
          height: 20px;
          width: 30px;
          z-index: 102;
          cursor: pointer;

          &.active-burger {
            &:before {
              background: $primary;
              top: 8px;
              transform: rotate(45deg);
              transition: cubic-bezier(.785, .135, .15, .86) .3s all;
            }

            &:after {
              background: $primary;
              bottom: 10px;
              transform: rotate(-45deg);
              transition: cubic-bezier(.785, .135, .15, .86) .3s all;
            }

            & span {
              transform: scale(0);
            }
          }

          &:before,
          &:after {
            content: '';
            position: absolute;
            height: 2.5px;
            width: 100%;
            background: $primary;
            transition: cubic-bezier(.785, .135, .15, .86) .3s all;
          }

          &:before {
            top: 0;
          }

          &:after {
            bottom: 0;
          }

          span {
            position: absolute;
            top: 9px;
            right: 0;
            width: 100%;
            background: $primary;
            height: 2px;
            transform: scale(1);
            transition: cubic-bezier(.785, .135, .15, .86) .3s all;
          }
        }
      }
    }
  }
}*/

