@import "../../App";

.navbar {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 12px 0;
  gap: 70px;
  @media screen and (max-width: 1100px) {
    gap: 50px;
  }

  &__item {
    position: relative;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000;
    display: flex;
    align-items: center;
    cursor: pointer;

    /* & > * {
       cursor: initial;
     }*/

    img {
      width: 25px;
      height: 25px;
    }

    @media screen and (max-width: 1050px) {
      font-size: 14px;
    }

    &-submenu {
      display: none;
      position: absolute;
      width: 230px;
      z-index: 1000;
      top: 25px;
      left: -50px;
      background-color: #e5e5e5;
      border-radius: 15px;
      padding: 5px 0;

      a {
        display: flex;
        align-items: center;
        margin-left: 15px;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          width: 0;
          left: 0;
          bottom: 5px;
          right: 0;
          height: 1px;
          background: $primary;
          transition: cubic-bezier(.785, .135, .15, .86) .3s all;
        }

        &:hover {
          &::after {
            width: calc(100% - 15px);
            transition: cubic-bezier(.785, .135, .15, .86) .3s all;
          }
        }
      }

      .submenu-item {
        margin: 10px;
        position: relative;
        text-transform: initial;
        font-size: 16px;
        background: transparent;
        cursor: pointer;
      }
    }

    &:hover {
      .navbar__item-submenu {
        display: block;
      }
    }
  }
}

.burger {
  display: none;
  cursor: pointer;
}