@import "../../App";

footer {
  background-color: #e5e5e5;
  margin-top: 50px;
  padding-bottom: 20px;
  padding-top: 40px;

  .footer {
    display: flex;
    justify-content: center;
    @media screen and (max-width: 872px) {
      flex-direction: column;
      gap: 25px;
    }

    &__left {
      display: flex;
      flex-direction: column;
      gap: 30px;
      flex: 0 0 25%;
      align-items: center;
      @media screen and (max-width: 872px) {
        display: none;
      }

      &-logo {
        width: 200px;
      }

      &-text {
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 17px;
        letter-spacing: 0.03em;
        text-align: center;
        @media screen and (max-width: 837px) {
          max-width: 230px;
        }
      }

      .social {
        .vk-img {
          margin-right: 10px;
          cursor: pointer;
        }

        .telegram-img {
          cursor: pointer;
        }
      }
    }

    &__middle {
      display: flex;
      flex: 0 0 40%;
      justify-content: space-evenly;
      align-items: center;
      font-size: 20px;
      flex-direction: column;

      @media screen and (max-width: 1030px) {
        flex: 0 0 50%;
      }
      @media screen and (max-width: 872px) {
        gap: 25px;
      }/*
      @media screen and (max-width: 837px) {
        text-align: center;
        align-items: center;
        flex: 0 0 35%;
      }*/

      &-textBlock {
        font-weight: 700;
        opacity: .7;
        display: flex;
        gap: 65px;

        .textBlock-item {
          display: flex;
          flex-direction: column;
          gap: 20px;

          p {
            opacity: .6;
            cursor: pointer;

            &:hover {
              opacity: 1;
            }
          }
        }
      }

      &-social {
        display: flex;
        gap: 15px;
        img {
          border-radius: 50%;
          cursor: pointer;
        }
      }

    }

    &__right {
      display: flex;
      flex-direction: column;
      gap: 30px;
      flex: 0 0 25%;
      justify-content: center;
      @media screen and (max-width: 872px) {
        max-width: 268px;
        margin: 0 auto;
      }

      &-item {
        display: flex;
        gap: 14px;
        align-items: center;

        img {
          width: 45px;
        }

        .item__info {
          &-text {
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 21px;
          }

          &-strong {
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 21px;
          }

          &-link {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: #3758CB;
            border-bottom: dotted;
          }
        }
      }
    }
  }
}
